<!-- Login -->
<!DOCTYPE html>
<html>
    <head>
        <!-- Favicon Browser -->
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
        
        <!-- Einbinden von Google-Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Share+Tech+Mono&display=swap" rel="stylesheet"> 
        
        <!-- Laden des CSS-Stylesheets -->
        <link rel="stylesheet" href="/stylesheet.css">
        
        <!-- Meta-Daten -->
        <title>Codex - Login</title>
    </head>
    <body>
        <div class="inner">
            <!-- Navigation & Website-Header -->
            <div class="flex-container" style="background-color: white;">
                <div><a href="/welcome"><img src="/img/logo.svg" alt="Codex Logo" style="height: 65px;"></img></a></div>
                <div class="nav-button-top" style="height: 60px; flex-grow: 10;"></div>
                <!-- hier wird unterschieden zwischen angemeldetem und anonymem Benutzer-->
                <% if (session == null) { %> <!-- ist die Session = null wird die normale Navi angezeigt -->
                <div class="nav-button-top" style="height: 60px; flex-grow: 1;"><a href="/login">Login</a></div>
                <div class="nav-button-top" style="height: 60px; flex-grow: 1; margin-right: 40px;"><a href="/register">Register</a></div>
                <% } else { %>               <!-- ist die Session != null wird der angemeldete Zustand der Session angezeigt -->
                <div class="nav-button-top" style="height: 60px; flex-grow: 1;"><a href="/profile">My Snippets</a></div>
                <div class="nav-button-top" style="height: 60px; flex-grow: 1; margin-right: 40px;"><a href="/logout">Logout</a></div>
                <% } %>
            </div>
            <!-- Registrationsdialog -->
            <div class="flex-container" style="justify-content: flex-start;">
                <div style="padding: 25px 75px 75px 75px;">
                    <div id="impressum">
                        <h1>Impressum</h1>
                        <p><b style="font-size: 22px;">Codex</b><br>
                            <span style="font-family: monospace;">Mehmet Budak Matr.-Nr. 2556262<br>
                            Christopher Spiller</strong> Matr.-Nr. 2439062<br>
                            Moritz Uhlig</strong> Matr.-Nr. 2555830<br>
                            Leander Wernst</strong> Matr.-Nr. 2555900<br>
                            Projektarbeit Angewandte Programmierung (Prof. Dr. Andreas Plaß)<br></span>
                        </p>

                    </div>
                    <div id="impressum">
                        <h1>Nutzungsbedingungen</h1>
                        <p></p>
                    </div>
                    <div id="impressum">
                        <h1>Datenschutz</h1>
                        <p></p>
                    </div>
                </div>
            </div>
            <!-- Info-Box -->
            <div class="flex-container">
                <div class="parallax-infobox" style="width: 960px;">
                    <div class="flex-container" style="margin-top: 20px; align-items: flex-start;">
                        <div style="text-align: center; padding: 5px;  width: 295px;">
                            <img src="/img/code-icon.svg" alt="Code-Icon" style="height: 115px;"></img><br>
                            <h2 style="color: white;">Code speichern.</h2>
                            <p class="infotext">
                               Speichere deine besten Code-Snippets, um bei ähnlichen Problemen gleich eine Lösung parat zu haben!</p>
                        </div>
                        <div style="text-align: center; padding: 5px; width: 295px;">
                            <img src="/img/comment-icon.svg" alt="Comment-Icon" style="height: 115px;"></img><br>
                            <h2 style="color: white;">Sich austauschen.</h2>
                            <p class="infotext">Tausche dich mit Nutzer:innen aus, diskutiere über Code, erhalte Vorschläge oder hilf anderen beim Optimieren!</p>
                        </div>
                        <div style="text-align: center; padding: 5px;  width: 295px;">
                            <img src="/img/learn-icon.svg" alt="Learn-Icon" style="height: 115px;"></img><br>
                            <h2 style="color: white;">Neues lernen.</h2>
                            <p class="infotext">Stöbere in Sammlungen anderer, finde Inspiration fürs nächste Projekt oder lerne neue Coding-Wege kennen!</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer [Links zu Impressum und Datenschutz stehen noch aus] -->
            <div class="flex-container" style="height: 50px; background-color: #FF9000; margin: 0px;">
                <p class="footer">© 2020 CODEX &nbsp;
                <a href="/impressum">Impressum | Datenschutz</a>
                </p>
            </div>
        </div>
    </body>
</html>