<!-- HTML-Vorlage mit Navigation oben und Footer -->
<!DOCTYPE html>
<html>
    <head>
        <!-- Viewport nicht verändern (für Responsiveness auf Mobile) -->
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
        
        <!-- Favicon Browser -->
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">

        <!-- Laden des CSS-Stylesheets -->
        <link rel="stylesheet" href="/stylesheet.css">
        
        <!-- Meta-Daten -->
        <title>Codex - SEITENTITEL</title>
        <style>
            .flex-main {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-content: flex-start;
                align-items: center;
            }

            .flex-container-center {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-content: flex-start;
                align-items: center;
                width: 100%;
                max-width: 1280px;
                margin: 110px 0 0 0;
            }

            .flex-section {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                margin: 30px 20px 10px 20px;
            }

            .flex-items-left {
                justify-content: flex-start;
            }

            .flex-items-right {
                justify-content: flex-end;
            }

            .flex-column {
                flex-direction: column;
            }

            .flex-item {
                margin: 35px;
                width: 40%;
                flex: 1 1 auto;
                align-self: auto;
            }

            /* Navigation Bar */

            

        </style>
    </head>
    <body>
        <%- include('./nav/default', {session: session}); %>
        <div class="flex-main">
            <div class="flex-container-center">
                <!-- ### HIERUNTER NEUE INHALTE EINFÜGEN ### -->
                <!-- <div class="flex-section">
                    <div class="flex-item">
                        <h1>Headline 1</h1>
                        <h2>Headline 2</h2>
                        <h3>Headline 3</h3>
                        <p>Textabsatz</p>
                        <a href="/welcome">Link</a>
                    </div>
                    <div class="flex-item">
                        <h1>Headline 1</h1>
                        <h2>Headline 2</h2>
                        <h3>Headline 3</h3>
                        <p>Textabsatz</p>
                        <a href="/welcome">Link</a>
                    </div>
                </div>  -->
                <div class="flex-section"> 
                    <div class="flex-item parallax-maxiteaser">
                        <div class="first" style="justify-content: flex-start; flex-direction: column; align-items: flex-start; background-color: transparent;">
                            <img src="/img/teaser-text.svg" id="teaser-text" alt ="Welcome to Codex. Exchange. Explore. Evolve." style="width: 75%; margin-top: 10%; margin-bottom: 2%;"></img><br>
                            <a href="/register" id="teaser-button" class="cta-button" style="font-size: 14px; margin-bottom: 5%;">>&nbsp;START&nbsp;NOW</a>
                        </div>
                    </div>
                </div>
                <!-- Einleitung -->
                <div class="flex-section">
                    <div  class="flex-item">
                        <h1><span style="font-weight: 400;">Mit </span>
                        Codex <span style="font-weight: 400;">sammelst du deinen Lieblings-Code!</span></h1>
                        <p>In nur einer Minute legst du dein eigenes Profil an und speicherst dein erstes Code-Snippet in deiner Sammlung!</p>                
                        <a href="/register" class="cta-button">JETZT&nbsp;REGISTRIEREN</a>
                    </div>
                    <div class="flex-item">
                        <img src="/img/macbook.jpg" alt="Macbook mit Codex-Screen" style="width:100%"></img>
                    </div>
                </div>
                <!-- Info-Box -->
                <div class="parallax-infobox">
                    <div class="inner" style="align-items: flex-start; background-color: transparent; padding-top: 35px;">
                        <div id="inf1" style="text-align: center; padding: 5px;  width: 295px;">
                            <img src="/img/code-icon.svg" alt="Code-Icon" style="height: 115px;"></img><br>
                            <h2 style="color: white;">Code speichern.</h2>
                            <p class="infotext">
                                Speichere deine besten Code-Snippets, um bei ähnlichen Problemen gleich eine Lösung parat zu haben!</p>
                        </div>
                        <div id="inf2" style="text-align: center; padding: 5px; width: 295px;">
                            <img src="/img/comment-icon.svg" alt="Comment-Icon" style="height: 115px;"></img><br>
                            <h2 style="color: white;">Sich austauschen.</h2>
                            <p class="infotext">Tausche dich mit Nutzer:innen aus, diskutiere über Code, erhalte Vorschläge oder hilf anderen beim Optimieren!</p>
                        </div>
                        <div id="inf3" style="text-align: center; padding: 5px;  width: 295px;">
                            <img src="/img/learn-icon.svg" alt="Learn-Icon" style="height: 115px;"></img><br>
                            <h2 style="color: white;">Neues lernen.</h2>
                            <p class="infotext">Stöbere in Sammlungen anderer, finde Inspiration fürs nächste Projekt oder lerne neue Coding-Wege kennen!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <!-- Footer -->
        <%- include('./elements/footer.html'); %>
    </body>
</html>