<!-- HTML-Vorlage mit Navigation oben und Footer -->
<!DOCTYPE html>
<html>
    <head>
        <!-- Favicon Browser -->
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
        
        <!-- Einbinden von Google-Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Share+Tech+Mono&display=swap" rel="stylesheet"> 
        
        <!-- Laden des CSS-Stylesheets -->
        <link rel="stylesheet" href="/stylesheet.css">
        
        <!-- Meta-Daten -->
        <title>Codex - SEITENTITEL</title>
    </head>
    <body>
        <!-- Navigation & Website-Header -->
        <%- include('./nav/default', {session: session}); %>
        <div class="first">
            
            <!-- ### HIERUNTER NEUE INHALTE EINFÜGEN ### -->
            <div>
                <h1>Headline 1</h1>
                <h2>Headline 2</h2>
                <h3>Headline 3</h3>
                <p>Textabsatz</p>
                <a href="/welcome">Link</a>
            </div>          
            <!-- Footer -->
            <%- include('./elements/footer.html'); %>
        </div>
    </body>
</html>