<!-- Favoriten-Ansicht -->
<!DOCTYPE html>
<html>
    <head>
        <!-- Favicon Browser -->
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
        
        <!-- Einbinden von Google-Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Share+Tech+Mono&display=swap" rel="stylesheet"> 
        
        <!-- Laden des CSS-Stylesheets -->
        <link rel="stylesheet" href="/stylesheet.css">
        
        <!-- Laden der CodeMirror-Dateien -->
        <script src="/editCode/codemirror.js"></script>
		<link rel="stylesheet" href="/editCode/codemirror.css">
		<link rel="stylesheet" href="/editCode/ayu-mirage.css">
        <script src="/editCode/javascript/javascript.js"></script>
        <script src="/editCode/selection/active-line.js"></script>

        <!-- Laden von Formular-Script -->
        <script src="/js/form.js"></script>

        <!-- Meta-Daten -->
        <title>Codex - Favoriten</title>
    </head>
    <body>
        <div class="inner">
            <!-- Navigation & Website-Header -->
            <div class="flex-container" style="background-color: white;">
                <div><a href="/welcome"><img src="/img/logo.svg" alt="Codex Logo" style="height: 65px;"></img></a></div>
                <div class="nav-button-top" style="height: 60px; flex-grow: 10;"></div>
                <div class="nav-button-top" style="height: 60px; flex-grow: 1;"></div>
                <div class="nav-button-top" style="height: 60px; flex-grow: 1; margin-right: 40px;"><a href="/logout">Logout</a></div>
            </div>
            <!-- Flex-Container für Seiten-Menü und Inhalt -->
            <div class="flex-container" style="justify-content: flex-start; align-items: flex-start;">
                <div id="menu" class="flex-container" style="justify-content: flex-start; flex-direction: column; align-items: flex-start; position: fixed;">
                    <div style="width: 130px; padding: 0; margin-bottom: 5px; margin-top: 10px;">
                        <h3 style="text-align: center; background-color: #FF9000; font-size: 24px;">MENÜ</h3>
                    </div>
                    <div style="width: 104px; border-style: solid; border-color: #FF9000; padding: 10px;">
                        <p class="menu-button"><a href="/welcome">[ Start ]</a></p>
                        <p class="menu-button"><a href="/my-profile">[ My Snippets ]</b></a></p>
                        <p class="menu-button"><a href="/userlist">[ Other Users ]</b></a></p>
                        <form action="/favorites" method="POST" id="favLink" class="menu-button">
                            <input type="hidden" name="userTab" value="<%= sessionName %>">
                            <input type="submit" value="[ Favorites ]">
                        </form>
                        <p class="menu-button"><a href="/settings">[ Settings ]</b></a></p>
                    </div>
                    <div style="width: 130px; padding: 0; margin-bottom: 5px; margin-top: 15px;">
                        <h3 style="text-align: center; background-color: #FF9000; font-size: 18px;">last visited</h3>
                    </div>
                    <div style="width: 104px; border-style: solid; border-color: #FF9000; padding: 10px;">
                        <p class="menu-button"><a href="">> user1235</b></a></p>
                        <p class="menu-button"><a href="">> brother912</b></a></p>
                        <p class="menu-button"><a href="">> nutzernam11 </b></a></p>
                        <p class="menu-button"><a href="">> benutzer9s1</b></a></p>
                        <p class="menu-button"><a href="">> benutzer</b></a></p>
                    </div>
                </div>
                <div id="content" class="flex-container code">
                        <h1 style="margin-left: 20px; margin-right: 20px;">Deine Favoriten</h1>
                        <p style="margin-left: 20px; margin-right: 20px;">Hier findest du deine als Favorit markierten Code-Snippets</p>
                <div style="min-height: 700px; width: 95%;">
                   <p style="background-color: #ffb4b4; text-align: center; padding: 25px;">
                    <b>Du hast bisher keine Favoriten!</b><br><br>
                    Schau dich<br>
                    <a href="/userlist">auf den Profilen anderer Nutzer:innen</a><br>
                    um und füge gute Snippets deiner Sammlung hinzu!
                </p> 
                </div>
                </div>
            </div>
            <!-- Footer [Links zu Impressum und Datenschutz stehen noch aus] -->
            <div class="flex-container" style="height: 50px; background-color: #FF9000; margin: 0px;">
                <p class="footer">© 2020 CODEX &nbsp;
                    <a href="/impressum">Impressum</a> | <a href="/impressum#privacy">Datenschutz</a>
                </p>
            </div>
        </div>
    </body>
</html>