<!-- Benutzerprofil/Code-Sammlung -->
<!DOCTYPE html>
<html>
    <head>
        <!-- Einbinden von Google-Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Share+Tech+Mono&display=swap" rel="stylesheet"> 
        
        <!-- Laden des CSS-Stylesheets -->
        <link rel="stylesheet" href="/stylesheet.css">
        
        <!-- Laden der CodeMirror-Dateien -->
        <script src="codemirror.js"></script>
		<link rel="stylesheet" href="codemirror.css">
		<link rel="stylesheet" href="ayu-mirage.css">
        <script src="/javascript/javascript.js"></script>
        <script src="/selection/active-line.js"></script>

        <!-- Meta-Daten -->
        <title>Codex - Login</title>
    </head>
    <body>
        <div class="inner">
            <!-- Navigation & Website-Header -->
            <div class="flex-container" style="background-color: white;">
                <div><a href="/welcome"><img src="/img/logo.svg" alt="Codex Logo" style="height: 65px;"></img></a></div>
                <div class="nav-button-top" style="height: 60px; flex-grow: 10;"></div>
                <div class="nav-button-top" style="height: 60px; flex-grow: 1;"></div>
                <div class="nav-button-top" style="height: 60px; flex-grow: 1; margin-right: 40px;"><a href="/logout">Logout</a></div>
            </div>
            <!-- Flex-Container für Seiten-Menü und Inhalt -->
            <div class="flex-container" style="justify-content: flex-start; align-items: flex-start;">
                <div id="menu" class="flex-container" style="justify-content: flex-start; flex-direction: column; align-items: flex-start; position: fixed;">
                    <div style="width: 130px; padding: 0; margin-bottom: 5px; margin-top: 10px;">
                        <h3 style="text-align: center; background-color: #FF9000; font-size: 24px;">MENÜ</h3>
                    </div>
                    <div style="width: 104px; border-style: solid; border-color: #FF9000; padding: 10px;">
                        <p class="menu-button"><a href="/welcome">[ Start ]</a></p>
                        <p class="menu-button"><a href="/profile">[ My Snippets ]</b></a></p>
                        <p class="menu-button"><a href="">[ Other Users ]</b></a></p>
                        <p class="menu-button"><a href="">[ Favorites ]</b></a></p>
                        <p class="menu-button"><a href="">[ Settings ]</b></a></p>
                    </div>
                    <div style="width: 130px; padding: 0; margin-bottom: 5px; margin-top: 15px;">
                        <h3 style="text-align: center; background-color: #FF9000; font-size: 18px;">last visited</h3>
                    </div>
                    <div style="width: 104px; border-style: solid; border-color: #FF9000; padding: 10px;">
                        <p class="menu-button"><a href="">> user1235</b></a></p>
                        <p class="menu-button"><a href="">> brother912</b></a></p>
                        <p class="menu-button"><a href="">> nutzernam11 </b></a></p>
                        <p class="menu-button"><a href="">> benutzer9s1</b></a></p>
                        <p class="menu-button"><a href="">> benutzer</b></a></p>
                    </div>
                </div>
                <div id="content" class="flex-container code">
                        <h1 style="margin-left: 20px; margin-right: 20px;">Hallo, <%= username %>!</h1>
                        <p style="margin-left: 20px; margin-right: 20px;">Willkommen in deinem persönlichen Bereich.
                            Hier kannst du neue Code-Snippets anlegen, bestehende bearbeiten oder wieder entfernen.
                            Über die Navigation links kommst du zu weiteren Bereichen, kannst Favoriten speichern und Code-Lösungen von anderen Nutzern entdecken. 
                            <br><br>
                            Viel Spaß!</p>
                            <div style="align-self: flex-end;"><a href="#" class="cta-button">BEARBEITEN</a></div>
<div>
    <h4>Überschrift 1</h3>
    <p class="code-desc">Beschreibung von Code 1. Dieser Code ist vero eos et accusam et justo duo dolores et ea rebum. 
        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>   
<!-- Editor-Feld mit Beispieltext. Code muss ganz links stehen, sonst werden Einrückungen der EJS-Datei auch im Editor berücksichtigt.
    ## TODO: Beispieltext (Code) später via EJS aus Datenbank einbinden. Evtl. dann je Eingabefeld einen Bearbeiten-Button; beim Speichern wird die Änderung in die Datenbank geschrieben. 
             Wird ein neues Editorfeld für ein Code-Snippets benötigt, ist das ggf. über einen '+'-Button lösbar (fügt neuen Editor ein). Ist noch zu besprechen.-->
<form><textarea id="code" name="code">
var imgWidth=285, imgHeight=233;
var xStart=Math.floor(imgWidth/2), yStart=Math.floor(imgHeight/2);
var x=xStart, y=yStart;
var clipWidth=(imgWidth-2*xStart), clipHeight=(imgHeight-2*yStart);
var status;

function show() {
if(status==1) {
    document.getElementById("image").style.clip=
        "rect("+y+" "+(x+clipWidth)+" "+(y+clipHeight)+" "+x+")";

    x-=1;
    clipWidth+=2;
    y-=1;
    clipHeight+=2;
</textarea></form>
</div>
                </div>
            </div>
            <!-- CodeMirror-Script sucht nach Elementen mit id 'code' und aktiviert Editor -->
            <script>
                var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                    lineNumbers: true,      // Boolean: aktiviert Zeilennummern
                    theme: "ayu-mirage",    // Theme-Auswahl für Editor
                    styleActiveLine: true,  // Aktive Zeile wird markiert
                });
            </script>
            <!-- Footer [Links zu Impressum und Datenschutz stehen noch aus] -->
            <div class="flex-container" style="height: 50px; background-color: #FF9000; margin: 0px;">
                <p class="footer">© 2020 CODEX &nbsp;
                <a href="">Impressum</a>	| <a href="">Datenschutz</a>
                </p>
            </div>
        </div>
    </body>
</html>