<!-- Registrierung -->
<!DOCTYPE html>
<html>
    <head>
        <!-- Einbinden von Google-Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Share+Tech+Mono&display=swap" rel="stylesheet"> 
        
        <!-- Laden des CSS-Stylesheets -->
        <link rel="stylesheet" href="/stylesheet.css">
        
        <!-- Einbinden Javascript für Formular -->
        <script src="/js/form.js"></script>
        
        <!-- Meta-Daten -->
        <title>Codex - Registrierung</title>
    </head>
    <body>
        <div class="inner">
            <!-- Navigation & Website-Header -->
            <div class="flex-container" style="background-color: white;">
                <div><a href="/welcome"><img src="/img/logo.svg" alt="Codex Logo" style="height: 65px;"></img></a></div>
                <div class="nav-button-top" style="height: 60px; flex-grow: 10;"></div>
                <div class="nav-button-top" style="height: 60px; flex-grow: 1;"><a href="/login">Login</a></div>
                <div class="nav-button-top" style="height: 60px; flex-grow: 1; margin-right: 40px;"><a href="/register">Register</a></div>
            </div>
            <!-- Registrationsdialog -->
            <div class="flex-container">
                <div style="padding: 25px 75px 75px 75px;">
                    <h1>Registration</h1>
                    <p>Wir freuen uns, dass du Teil von <span style="font-weight: 500;">CODEX</span> werden möchtest!
                       Bitte fülle das nachstehende Formular aus, damit wir dir dein eigenes Profil erstellen können.</p>
                    <form action="newUser" method="POST">
                            <div>
                                <label for="email" class="formlabel" style="margin-right: 95px;">E-Mailadresse:</label>
                                <input type="text" name="email" id="email" class="forminput" placeholder="Deine E-Mailadresse" onblur="checkMail()" required><br>
                                <div class="error-msg email" style="display:none;">Bitte Emailadresse überprüfen.</div>
                            </div>
                            <div>
                                <label for="user" class="formlabel" style="margin-right: 108px;">Benutzername:</label>
                                <input type="text" name="loginname" id="loginname" class="forminput" placeholder="Dein gewünschter Benutzername" onblur="checkName()" required><br>
                                <div class="error-msg loginname" style="display:none;">Name bereits vergeben.</div>
                            </div>
                            <div>
                                <label for="pass" class="formlabel" style="margin-right: 160px;">Passwort:</label>
                                <input type="password" name="password1" id="password1" class="forminput" placeholder="mind. 8 Zeichen" onblur="checkPass()" required><br>
                                <div class="error-msg password1" style="display:none;">Passwort ist zu kurz.</div>
                            </div>
                            <div>
                                <label for="pass_whd" class="formlabel" style="margin-right: 4px;">Passwort wiederholen:</label>
                                <input type="password" name="password2" id="password2" class="forminput" onblur="checkMatch()" required><br>
                                <div class="error-msg password2" style="display:none;">Passwörter stimmen nicht überein.</div>
                            </div>
                            <!-- Links zu Nutzungsbedingungen & Datenschutz stehen noch aus -->
                            <p><input type="checkbox" onclick="if(this.checked) showButton(); else hideButton();" 
                            name="" style="border:none; transform:scale(2); margin-right: 10px;" required>
                            Ich habe die <a href="" target="_blank">allgemeinen Nutzungsbedingungen</a> sowie die <a href="" target="_blank">Hinweise zum Datenschutz</a> zur Kenntnis genommen 
                            und akzeptiere diese mit meiner Registrierung.</p><br>
                        <div id="bHidden" style="display: none;"><input type="submit" class="cta-button" value="REGISTRIERUNG&nbsp;ABSCHLIESSEN"></div>
                    </form>
                </div>
            </div>
            <!-- Info-Box -->
            <div class="flex-container">
                <div class="parallax-infobox" style="width: 960px;">
                    <div class="flex-container" style="margin-top: 20px;">
                        <div style="text-align: center; padding: 5px;  width: 295px;">
                            <img src="/img/code-icon.svg" alt="Code-Icon" style="height: 115px;"></img><br>
                            <h2 style="color: white;">Code speichern.</h2>
                            <p class="infotext">
                               Speichere deine besten Code-Snippets, um bei ähnlichen Problemen gleich eine Lösung parat zu haben!</p>
                        </div>
                        <div style="text-align: center; padding: 5px; width: 295px;">
                            <img src="/img/comment-icon.svg" alt="Comment-Icon" style="height: 115px;"></img><br>
                            <h2 style="color: white;">Sich austauschen.</h2>
                            <p class="infotext">Tausche dich mit Nutzer:innen aus, diskutiere über Code, erhalte Vorschläge oder hilf anderen beim Optimieren!</p>
                        </div>
                        <div style="text-align: center; padding: 5px;  width: 295px;">
                            <img src="/img/learn-icon.svg" alt="Learn-Icon" style="height: 115px;"></img><br>
                            <h2 style="color: white;">Neues lernen.</h2>
                            <p class="infotext">Stöbere in Sammlungen anderer, finde Inspiration fürs nächste Projekt oder lerne neue Coding-Wege kennen!</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer [Links zu Impressum und Datenschutz stehen noch aus] -->
            <div class="flex-container" style="height: 50px; background-color: #FF9000; margin: 0px;">
                <p class="footer">© 2020 CODEX &nbsp;
                <a href="">Impressum</a>	| <a href="">Datenschutz</a>
                </p>
            </div>
        </div>
    </body>
</html>