<!-- Startseite Codex -->
<!DOCTYPE html>
<html>
    <head>
        <!-- Einbinden von Google-Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Share+Tech+Mono&display=swap" rel="stylesheet"> 
        
        <!-- Laden des CSS-Stylesheets -->
        <link rel="stylesheet" href="/stylesheet.css">
        
        <!-- Meta-Daten -->
        <title>Codex - Welcome!</title>
    </head>
    <body>
        <div class="inner">
            <!-- Navigation & Website-Header -->
            <div class="flex-container" style="background-color: white;">
                <div><img src="/img/logo.svg" alt="Codex Logo" style="height: 65px;"></img></div>
                <div class="nav-button-top" style="height: 60px; flex-grow: 10;"></div>
                <div class="nav-button-top" style="height: 60px; flex-grow: 1;"><a href="">Login</a></div>
                <div class="nav-button-top" style="height: 60px; flex-grow: 1; margin-right: 40px;"><a href="">Register</a></div>
            </div>
            <!-- Maxiteaser -->
            <div class="flex-container">
                <div class="parallax-maxiteaser" style="width: 960px;">
                    <img src="/img/teaser-text.svg" style="width: 75%; margin-top: 145px; margin-bottom: 15px;"></img><br>
                    <a href="" class="cta-button" style="font-size: 14px;">> START NOW</a>
                </div>
            </div>
            <!-- Einleitung -->
            <div class="flex-container">
                <div style="width: 480px; align-items: baseline;">
                    <h1><span style="font-weight: 400;">Mit </span>
                    Codex <span style="font-weight: 400;">sammelst du deinen Lieblings-Code!</span></h1>
                    <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>                
                    <a href="" class="cta-button">JETZT REGISTRIEREN</a>
                </div>
                <div>
                    <img src="/img/macbook.jpg" style="width: 354px"></img>
                </div>
            </div>
            <!-- Info-Box -->
            <div class="flex-container">
                <div class="parallax-infobox" style="width: 960px;">
                    <div class="flex-container" style="margin-top: 20px;">
                        <div style="text-align: center; padding: 5px;">
                            <img src="/img/code-icon.svg" style="height: 115px;"></img><br>
                            <h2>Code speichern.</h2>
                            <p class="infotext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div style="text-align: center; padding: 5px;">
                            <img src="/img/comment-icon.svg" style="height: 115px;"></img><br>
                            <h2>Sicht austauschen.</h2>
                            <p class="infotext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div style="text-align: center; padding: 5px;">
                            <img src="/img/learn-icon.svg" style="height: 115px;"></img><br>
                            <h2>Neues lernen.</h2>
                            <p class="infotext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Was ist Codex -->
            <div class="flex-container">
                <div>
                    <h3 style="width: 250px;">Was ist CODEX?</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                    invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam 
                    et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est 
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed 
                    diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
                    At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea 
                    takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
                <div style="width: 50%"></div>
            </div>
            <!-- Footer -->
            <div class="flex-container" style="height: 50px; background-color: #FF9000; margin: 0px;">
                <p class="footer">© 2020 CODEX &nbsp;
                <a href="">Impressum</a>	| <a href="">Datenschutz</a>
                </p>
            </div>
        </div>
    </body>
</html>