<div class="navigation-container">
    <div class="inner-nav">
        <div style="margin-bottom: -5px;">
            <a href="/welcome"><img src="/img/logo.svg" alt="Codex Logo" style="height: 65px;"></img></a>
        </div>
        <div class="nav-button-container">
            <% if (session == null) { %> <!-- ist die Session = null wird die normale Navi angezeigt -->
            <div class="nav-button-top"><a href="/login">Login</a></div>
            <div class="nav-button-top"><a href="/register">Register</a></div>
            <% } else { %>
            <div class="nav-button-top"><a href="/my-profile">Profile</a></div>
            <div class="nav-button-top"><a href="/logout">Logout</a></div>
            <% } %>
        </div>
    </div>
</div>