/*
     ## CSS rules to specify families:
            font-family: 'Poppins', sans-serif;
            font-family: 'Share Tech Mono', monospace;
*/

/* Style des HTML-Body und der enthaltenen Elemente definieren */

body {
    background-color: #508FBB;
    min-height: 100vh; /* Ganze Displayhöhe als Mindesthöhe des Bodies */
    margin: 0px;
  }
  
/* Flex-Box für Responsive-Design definieren */
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Elemente staplen untereinander, wenn Platz zu gering. */ 
}
  
  .flex-container > div {
    margin: 0px;
    padding: 20px;
    align-items: center;
  }

  /* Navigationspunkt oben nach Flex-Container */
  .flex-container > .nav-button-top {
    display:flex;
    margin: 0px;
    align-items: flex-end;
    border-bottom-style: solid;
    border-bottom-color: #FF9000;
    border-bottom-width: 2px;
    padding-top: 0px;
    padding-bottom: 5px;
  }

  .flex-container .code {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 150px;
  }

/* Innere Div-Box zur Zentrierung des gesamten Inhalts */
.inner {
  width: 100%;
  max-width: 960px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: white;
}
  
/* Navigationspunkt oben */
.nav-button-top {
  font-family: 'Share Tech Mono', monospace;
  font-size: 22px;
  border-bottom-style: solid;
  border-bottom-color: #FF9000;
  border-bottom-width: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
}
  /* Link in Navigation */
  .nav-button-top > a:link {
    text-decoration: none;
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Hover-Link in Navigation */
  .nav-button-top > a:hover {
    color: #ffffff;
    background-color: #FF9000;
  }

  .nav-button-top > a:visited {
    text-decoration: none;
    color: #000000;
  }
  
  
/* Parallax-Effekt Bildbereiche */
.parallax-maxiteaser {
  background-image: url("/img/maxiteaser.jpg");
  min-height: 400px;

  /* Parallax-Effekt */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.parallax-infobox {
  background-image: url("/img/image-bg2.jpg");
  min-height: 350px;

  /* Parallax-Effekt */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

/* Style der Headline 1 */
h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: black;
}

h3 {
  font-family: 'Share Tech Mono', monospace;
  font-size: 32px;
  color: white;
  background-color: #0A64A4;
  padding: 5px;
  margin: 0px;
}

h4 {
  font-family: 'Share Tech Mono', monospace;
  font-size: 32px;
  color: white;
  background-color: #0A64A4;
  margin: 0px;
  padding: 15px 0px 0px 15px;
}

/* Style Paragraph */
p {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

/* Beschreibungstexte der Code-Snippets */
.code-desc {
  background-color: #0A64A4;
  color: white;
  padding: 15px;
  margin: 0;
}

/* <pre>-Tags mit exakter Formatierung */
pre {
  background-color: #b2b2b2b2;
  padding: 10px;
  margin: 0px;
}

/* Style für Menü-Buttons auf Profilseite */
.menu-button {
  font-family: 'Share Tech Mono', monospace;
  font-size: 12.5px;
  font-weight: bold;
}

.menu-button > a {
  text-decoration: none;
  color: black;
}

.menu-button > a:hover {
  text-decoration: underline;
  color: black;

}

.menu-button > a:visited {
  text-decoration: none;
  color: black;
}

/* Style Infotext Infobox Startseite */
.infotext {
  color: white;
  font-weight: 500;
  text-align: center;
}

/* Style für Formular-Label */
.formlabel {
  font-family: 'Share Tech Mono', monospace;
  font-size: 24px;
  color: black;
  padding: 0px;
  margin: 2px;
}

/* Style für Formular-Inputfeld */
.forminput {
  font-family: 'Share Tech Mono', monospace;
  font-size: 16px;
  border:none;
  background-color: #b4b4b4;
  width:355px;
  height:26px;
  padding: px;
  margin: 2px;
}

/* Style Footer */
.footer {
  font-family: 'Share Tech Mono', monospace;
  font-size: 14px;
  color: white;
  text-align: center;
  font-weight: 500;
}

.footer > a:link {
  text-decoration: none;
  color: white;
}

.footer > a:visited {
  text-decoration: none;
  color: white;
}

/* Button-Style */
.cta-button {
background-color: #FF9000;
color: white;
font-family: 'Poppins', sans-serif;
font-weight: 700;
font-size: 18px;
text-decoration: none;
padding: 5px 10px;
border-style: solid;
border-color: #FF9000;
}

/* Button-Style hover */
.cta-button:hover {
  background-color: white;
  color: #FF9000;
}